@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
}

.texto{
    background-color: black;
    color: white;
}

.principal{
    display: flex;
    justify-content: space-between;
}

.divisao{
    display: flex;
    align-items: center;
    height: 300px;
}
.principal__sessao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10%;
}

.principal__sessao__texto{
    font-size: 20px ;
    font-family: "Krona One", sans-serif;
}

principal__sessao__responsivo{
    font-family: 15px ;
    font-family: "Montserrat", sans-serif;
}
.principal__ancora{
    display: flex;
    justify-content: space-between;
}

.principal__ancora__link{
    background-color: lightblue;
    width: 150px;
    padding: 20px 0;
    border-radius: 16px;
    color: black;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
}